.main.menu {
    border-radius: 0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2) !important;
    margin: 0;
}

.main.menu .item img.logo {
    margin-right: 1.5em;
}

/* ----------
   app
   ---------- */

.el-flex-main-parent {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.el-flex-main-parent > div {
    flex: 1;
    display: flex;
}

.el-flex-main-parent > .menu {
    flex: 0;
}

/* ----------
   movie-list
   ---------- */

.el-filter {
    padding-top: 2rem !important;
}

/* ----------
   login
   ---------- */

.el-login.column {
    max-width: 450px;
}