.main.menu {
    border-radius: 0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2) !important;
    margin: 0;
}

.main.menu .item img.logo {
    margin-right: 1.5em;
}

.main.menu .header.item {
    min-width: 18.75%;
}

/* ----------
   app
   ---------- */

.el-movie-form-sidebar.sidebar {
    width: 90% !important;
    border: none;
    background-color: #f9f9f9;
    padding: 0
}

/* ----------
   highlight
   ---------- */

pre {
    margin: 0;
}

.hljs {
    background-color: #191c1f;
    padding: 1em;
}

/* ----------
   movie
   ---------- */

.movie.card .ui.popup:before {
    background-color: #191c1f;
    box-shadow: none;
}

.ui.cards > .movie.card, .ui.cards > .movie.card > :first-child {
    border-radius: 0 !important;
}

/* ----------
   multiple-input
   ---------- */

.ui.form .MultipleInput .field {
    margin-bottom: 1em;
}

/* ----------
   mobile
   ---------- */

@media only screen and (max-width: 767px) {
    .el-movie-form-sidebar.sidebar {
        height: auto !important;
        width: 100% !important;
    }
}
